body,
input,
textarea,
select {
  font-family: Verdana;
  font-size: 16px;
  color: #4c4c4c;
  position: relative;
  margin: 10px;
  padding: 0px;
}

.login{
	background-image: url("../pictures/background_registerLogin.png");
	background-size: 100%;
	padding-left: 20px;
	padding-top: 50px;
}

.main{
	background-image: url("../pictures/background_main.png");
	background-size: 100%;
	padding-left: 20px;
	padding-top: 50px;
	background-repeat:no-repeat;
}

.register{
	background-image: url("../pictures/background_registerLogin.png");
	background-size: 100%;
	padding-left: 20px;
	padding-top: 50px;
	background-repeat:no-repeat;
}

.profile {
	background-image: url("../pictures/background_profile.jpg");
	background-size: 30%;
	background-color: #d9d9d9;
	background-repeat:no-repeat;
}

#container{
	min-height:100%;
	position: relative;
}

#body{
	position: relative;
	text-align: center;	
	padding-right: 1400px 700px;
	height: 600px;
}

#footer {
	position: relative;
	text-align: right;
	width: 100%;
	height: 10%;
	font-size: 10px;
	
}

#logo{
	padding-top: 10px;
	padding-left: 400px;
	text-align: center;
	#margin-top: 10px;
	float: center;
	display:inline;
}

#flags{
	padding-top: 10px;
	text-align: left;
	padding-left: 10px;
	display:inline;
}

#links{
	padding-top: 30px;
	text-align: right;
	float:right;
	padding-right: 10px;

		
}

#links a{
	color: black;
	text-decoration: none;
}

#links a:hover{
	text-decoration: underline;
	#background-color: blue;
}
	

#links li a:hover {
    background-color: #555;
    color: white;
}



:focus {outline:none}

.registerBox {
  margin: 10px 150px;
  padding-top: 10px;
  width: 343px; 
  height: 400px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: white; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}

.loginBox{
  margin-top: 10px;
  margin-left: 800px;
  padding-top:10px;
  width: 343px; 
  height: 300px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: white; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}


form{
  #margin: 0 30px;
}


h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  margin-top:-40px;
  margin-bottom: 0px;
}


h2{
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

h3{
  font-size: 25px;
  font-weight: 100;
  color: #4c4c4c;
  font-family: Verdana;
  text-align: center;
  padding-top: 80px;
  padding-bottom: -500px;
  margin-bottom: 0px;
  #margin-top:20px;
  #padding-bottom: 10px;
}


#search input[type=text] {
	
    width: 200px;
	margin-bottom: 10px;
	box-sizing: border-box;
    border: 2px solid #black;
    border-radius: 4px;
    font-size: 15px;
    background-image: url("../pictures/searchicon.png");
    background-position: 150px ; 
	background-size: 20%;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#search input[type=text]:focus {
	background-color: white;
	background-image: none;
    width: 45%;
}

#tab {
	max-width:700px; 
	width:100%; 
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	height: 300px;
}

#tab input[type=radio] 
{
	display:none;
}

#tab label {
	display:block; 
	float: left;
	width: 23.333%;
	color: black;
	font-size: 15px;
	padding: 5%;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	font-family: Verdana;
	background: white;
}

#tab .tab_content {
	background: #fff; 
	width: 90%;
	display: none;
	padding: 5%;
	float: left;
	
}




#tab [id^="tab"]:checked + label{
	background: #9fc4c6;
	color: white;
}

#tab1:checked ~ #tab-content1, 
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3{
	display:block;
	
}

input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

a.button {
 font-size: 20px;
  font-weight: 300;
  color: white;
  padding: 6px 25px 6px 25px;
  float: center;
  text-decoration: none;
  width: 100px; height: 50px; 
  background-color: black; 
  transition: all 0.1s linear 0s; 
  top: 50px;
  position: relative;
}

a.button:hover {
  top: 47px;
  background-color: #e6c300;
}






ul.tabs{ 
    position: relative;
	#background-color: #d9d9d9;
	margin-bottom: 10px;
}

ul.tabs li {
    float: left;
}

ul.tabs li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size:18px;
}

.profile a:hover:not(.active) {
    background-color: #111;
}

ul.tabs li a:focus, .active {
	background-color:#111;
	#font-color: #F0F8FF;
}

.tabcontent{
	display: none;
	padding: 6px 12px;
}



p.name{
	text-align: center;
	font-size: 30px;
}

p.food{
	font-size: 30px;
	text-align:right;
	padding-right: 110px;
	padding-top: 0px;
}

p.address{
	text-align: right;
}

p.timetable{
	text-align:right;
	padding-bottom: 120px;
}

img.food {
	margin-top: 0px;
	#margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-right: 0px;
	text-align: left;
}


