body,
input,
textarea,
select {
  font-family: Verdana;
  font-size: 16px;
  color: #4c4c4c;
  position: relative;
  margin: 10px;
  padding: 0px;
}


/*Background/Content*/
.profile{
	background-image: url("../pictures/Unbenannt.png");
	background-size: 100%;
	padding-left: 20px;
	padding-top: 50px;
	background-repeat:no-repeat;
}

#body{
	position: relative;
	text-align: center;	
	padding-right: 1400px 700px;
	height: 600px;
}

#footer {
	position: relative;
	text-align: right;
	width: 100%;
	height: 10%;
	font-size: 10px;
	
}

#logo{
	padding-top: 10px;
	padding-left: 400px;
	text-align: auto;
	#margin-top: 10px;
	float: center;
	display:inline;
}

#flags{
	padding-top: 10px;
	text-align: left;
	padding-left: 10px;
	display:inline;
}

#links{
	padding-top: 30px;
	text-align: right;
	float:right;
	padding-right: 10px;

		
}

#links a{
	color: black;
	text-decoration: none;
}

#links a:hover{
	text-decoration: underline;
	#background-color: blue;
}
	

#links li a:hover {
    background-color: #555;
    color: white;
}

:focus {outline:none}

form{
  #margin: 0 30px;
}

/*header Styles*/
h1 {
  font-size: 20px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: auto;
  margin-top:-40px;
  margin-bottom: 0px;
}


h2{
  font-size: 15px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: auto;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

h3{
  font-size: 15px;
  font-weight: 100;
  color: #4c4c4c;
  font-family: Verdana;
  text-align: left;
  padding-top: 80px;
  padding-left: 30px;
  padding-bottom: -500px;
  margin-bottom: 0px;
}



/*Content Box with tabs*/
#tab {
	max-width:700px; 
	width:70%; 
	position: absolute; 
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	height: 500px;
}

#tab input[type=radio] 
{
	display:none;
}

#tab label {
	display:block; 
	float: left;
	width: 23.333%;
	color: black;
	font-size: 15px;
	padding: 5%;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	font-family: Verdana;
	background: white;
}

#tab .tab_content {
	background: #fff; 
	width: 90%;
	display: none;
	padding: 5%;
	float: left;
	
}

#tab [id^="tab"]:checked + label{
	background: #d55d5d;
	color: white;
}

#tab1:checked ~ #tab-content1, 
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3{
	display:block;
}

/*input Field Style*/
input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

/*Button Design*/
.button {
  font-size: 15px;
  #font-weight: 300;
  color: white;
  padding: 6px 25px 6px 25px;
  #margin-top: 50px;
  margin-top:200px;
  text-decoration: none;
  width: auto; height: 50px; 
  background-color: #e08585; 
  transition: all 0.1s linear 0s; 
}

.button:hover {
  top: -10px;
  background-color: #d55d5d;
}

a.button{
	#padding-top: 50px;
	margin-top: 500px;
	
}

/*Logout Link*/
.logout{
  font-size: 15px;
  color: black;
  padding: 0;
  margin-top: -10px;
  border: none;
  background:none;
  text-decoration: none;
}

.logout:hover{
	text-decoration: underline;
	cursor: pointer;
}

/*


.profile a:hover:not(.active) {
    background-color: #d55d5d;
}

ul.tabs li a:focus, .active {
	background-color:#d55d5d;
	#font-color: #F0F8FF;
}

*/

